In [6]:
import sys
sys.path.append("C:/Users/Danny Farone/Documents/GitHub/Data-Science-Job-Salaries/src/")
from required_libraries import *

In [15]:
#read in the masterquote dataset into a dataframe named df
df = pd.read_csv(r'C:\Users\Danny Farone\Documents\GitHub\Data-Science-Job-Salaries\data\external\ds_salaries_external.csv', header = 0)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Analyst,98000,USD,98000,US,0,US,M
1,2021,EX,FT,Data Analyst,150000,USD,150000,IN,100,US,L
2,2021,MI,FT,Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,FT,Data Analyst,11000000,HUF,36259,HU,50,US,L
4,2021,EN,FT,Data Analyst,55000,USD,55000,US,50,US,S
...,...,...,...,...,...,...,...,...,...,...,...
601,2021,MI,FT,Machine Learning Engineer,81000,EUR,95746,DE,100,US,S
602,2022,EN,FT,Machine Learning Engineer,150000,USD,150000,AU,100,AU,S
603,2022,MI,FT,Machine Learning Engineer,50000,EUR,54957,GR,0,GR,M
604,2022,MI,FT,Machine Learning Engineer,50000,EUR,54957,GR,0,GR,M
605,2022,MI,FT,Machine Learning Engineer,240000,CNY,37236,US,50,US,L

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           606 non-null    int64
 1   experience_level    606 non-null    object
 2   employment_type     606 non-null    object
 3   job_title           606 non-null    object
 4   salary              606 non-null    int64
 5   salary_currency     606 non-null    object
 6   salary_in_usd       606 non-null    int64
 7   employee_residence  606 non-null    object
 8   remote_ratio        606 non-null    int64
 9   company_location    606 non-null    object
 10  company_size        606 non-null    object
dtypes: int64(4), object(7)
memory usage: 52.2+ KB

In [18]:
profile = ydata_profiling.ProfileReport(df)
profile.to_file("output.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]